<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartscheduler">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
<!--카카오맵 permission-->
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartScheduler">

        <receiver android:name=".AlarmReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".Activity.UserInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.AddScheduleActivity"/>
        <activity android:name=".Activity.PublicRouteActivity"/>
        <activity android:name=".Activity.CarRoute"/>
        <activity android:name=".Activity.CarNavigation"/>

<!--카카오맵 네이티브 앱 key-->
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="5f9edbd5b9db541446f51c121146a651"/>
<!--google cloud platform 앱 key-->
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBoUlyfq_7jws7-AJR0PjGqmbwFz5H_1qQ"/>
    </application>

</manifest>